<ul class="countries-list">
    {{#each this}}
    <li class="countries-list__item"><img class="countries-list__img" src="{{flag}}" width="50" height="auto"
            alt="flag"><span class="country-name">{{name}}</span>
    </li>
    {{/each}}
</ul>